/*Orden de CSS:
    1º :root
    2º html, body, *
    3º selectores de elementos (p, a, img,...)
    Comentar cada sección (englobar clases)
    @media():   PC-> 1140px
                Tablet -> 768px
                Movil -> 480px
*/

/*------------------Creación de variables usadas reiteradamente------------------------------------------------------------*/

:root {
    --color_principal: #00e497;
    --color_secundario: #02052F;
    --font_principal: 'Open Sans', sans-serif;
    /*--font_principal: 'Sigmar', cursive; Fuente copiada desde google fonts*/
}

/*------------------Creación del html para ajustes de toda la web---------------------------------------------------------*/

html {
    font-size: 62.5%;                                                                   /*Relacion del rem modificada a 1 rem ~ 10 px (parte 1)*/
    box-sizing: border-box;                                                             /*El tamaño del contenido se ajusta a lo establecido deformándolo si es necesario por los paddings y borders*/
}

*,*::after, *::before{                                                                  /*El primer asterisco seleciona a todo el contenido, el after y el before es contenido añadido desde css*/
    box-sizing: inherit;
}

/*------------------Creacion de la clase body donde almacenar todos los atributos comunos en toda la página----------------*/

body {
    font-size: 16px;                                                                    /*Relacion del rem modificada a 1 rem ~ 10 px (parte 2)*/
    font-family: var(--font_principal);                                                 /*Tipo de fuente*/
    font-weight: 400;                                                                   /*Grosor de la fuente*/
    color: var(--color_secundario);                                                     /*Color de la fuente*/
}

/* 
selector{
    propiedad: valor;
}
*/

/* h1 {
    color: red; Color de la fuente
    text-align: center; Justificación del texto
    background-color: black; Color del fondo
    padding: 50px;
    margin: 50px; Márgenes verticales y horizontales del cuadro de texto
    font-size: 45px; Tamaño de la fuente
    Unidades de medida en css: px (ud fijas), em, rem (uds relativas). 
    rem mas utilizada para visualizar en diferentes dispositivos
    1 rem ~ 16px
}

.titulo{
    color: blue;
}
Se superpone por especifidad al llamar al selector mediante clase
Especifidad Selector: Elemento < .Clase < #ID < !Important

.primera_seccion a{ Todos los enlaces de la clase primera sección
    color:green;

color:  #000; HEX
        rgb(255,255,255);
        rgba(255,255,255,1); Opacidad

}*/

/* .ejercicio_flex{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
    max-width: 50%;
}
.ejercicio_flex a{
    color: white;
    font-weight: bold;
} */

.ejercicio_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}
.ejercicio_grid .num1{
    grid-area: 1 / 2 / 2 / 3;
    background-color: red;
    height: 500px;
}
.ejercicio_grid .num2{
    grid-column: 3 / 5 ;
    grid-row: 2 / 3;
    background-color: blue ;
    height: 500px;
}
.ejercicio_grid .num3{
    grid-area: 1 / 4 / 2 / 5;
    background-color: green;
    height: 500px;
}

.ejercicio_grid2{
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    grid-template-rows: 200px 600px 200px;
}
.ejercicio_grid2 .num4{
    grid-area: 1 / 2 / 2 / 4;
    background-color: red;
}
.ejercicio_grid2 .num5{
    grid-area: 2 / 1 / 4 / 2;
    background-color: blue ;
}
.ejercicio_grid2 .num6{
    grid-area: 2 / 4 / 4 / 6;
    background-color: green;
}
.ejercicio_grid2 .num7{
    grid-area: 2 / 2 / 4 / 4;
    background-color: yellow;
}
.ejercicio_grid2 .num8{
    grid-area: 1 / 1 / 2 / 2;
    background-color: pink;
}
.ejercicio_grid2 .num9{
    grid-area: 1 / 4 / 2 / 6;
    background-color: orange;
}



/*caniuse.com: página necesaria para saber si los diferentes navegadores aceptan las caracteristicas dadas a nuestra web*/
/*cssmatic.com para estilos de gradientes, sombras...*/



.ejercicio_box_model{
    height: 500px;
    margin: 100px;
    padding: 20px;
    border: 2px solid black;
    background-image: linear-gradient(to bottom, red 10%, yellow 50%, purple 90%);
    position: relative;                                                                  
    box-shadow: 22px -23px 16px 4px rgba(0,0,0,0.75);                                 /*Añade sombras al bloque*/

}

.ejercicio_box_model h2{                                                                
    right: 0px;
    bottom: 0px;
    position: absolute; 
}

.ejercicio_box_model h2::before{                                                        /*Añade el contenido antes del elemento, con after lo añade después*/
    content: "Añadido desde CSS, no se puede copiar";
}


/*------------------Creación de la clase contenedor--------------------------------------------------------------------------------------------------------*/

.contenedor {
    width: 60%;                                                                         /*Ancho del contenedor*/
    /*margin: 0(top) auto(right) 0(botton) auto(left);
    margin: 0(top, botton) auto(right, left);
    margin-top:0; margin-right:auto...*/
    margin: 0 auto;
}

@media(max-width:1140px){
    .contenedor{
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .contenedor{
        width: 90%;
        margin: 0 auto;
    }
}

/*------------------Creacion de la clase header------------------------------------------------------------------------------------------------------------*/

.header {
    display: flex;                                                                      /*Distribución del contenido flexible*/
    justify-content: flex-end;                                                          /*Alineación del texto a la derecha*/
    padding-top: 1.5rem;                                                                /*Tamaño superior del bloque header*/
    padding-bottom: 2.4rem;                                                             /*Tamaño inferior del bloque header*/
}

.header a {
    color: var(--color_principal);                                                      /*Llamada de variable*/
    text-decoration: none;                                                              /*Subrayado del enlace deshabilitado*/
    font-family: var(--font_principal);
    font-weight: 400;
}

.header .separador {
    margin-top: 0rem;
    margin-left: 0.5rem;                                                                /*Margen izquierdo*/
    margin-right: 0.5rem;                                                               /*Margen derecho*/
    /*margin: 0 0.5rem;*/
    color: var(--color_principal);
}

.header a:hover {                                                                       /*Hover crea una acción al pasar el ratón por encima del elemento selecionado*/
    text-decoration: underline;                                                         /*Habilitar subrayado*/
}

/*------------------Clases de imagen TuCarreraDigital y enlaces Cursos, Sobrenosotros e Informate----------------------------------------------------------*/

.cursos_sobre_informate {
    display: flex;                                                                      /*Permite habilitar la distribución del bloque*/
    /*flex-direction: row, row-reverse, colummn o column-reverse;                       No hace falta ponerlo porque los enlaces ya estan en row*/
}

.cursos_sobre_informate .img_tcd {
    display: flex;
    flex: 34%;                                                                          /*Porcentaje de ocupación del bloque en el div*/
    max-width: 34%;                                                                     /*Ancho del bloque en el div*/
    justify-content: flex-start;                                                        /*Justificación del bloque al inicio del mismo*/
}

.cursos_sobre_informate .menu {
    display: flex;
    flex: 66%;
    max-width: 66%;
    justify-content: flex-end;                                                          /*Justificación del bloque al final del mismo*/
    align-items: center;                                                                /*Alineacion del objeto al centro del bloque*/
}

.cursos_sobre_informate a {
    color: var(--color_secundario);
    font-size: 1.4rem;
    margin-left: 2.5rem;
    font-weight: bold;                                                                  /*Fuente en negrita*/
    text-decoration: none;
}

.cursos_sobre_informate a:hover {
    text-decoration: underline;
}

.informate {
    background-color: var(--color_principal);                                           /*Color del fondo del bloque*/
    font-weight: bold;
    color: white !important;
    border-radius: 20px;                                                                /*Radio de las esquinas del bloque*/
    padding: 1rem 1.4rem;                                                               /*Relleno de arriba, abajo y los laterales del bloque*/
    text-decoration: none;
}

.informate:hover {
    text-decoration: none !important;
    background-color: #17a2b8;
}

@media(max-width:767px){
    .cursos_sobre_informate {
        display: flex;                                                                      
        flex-wrap: wrap;                      
    }
    .cursos_sobre_informate .img_tcd {
        display: flex;
        flex: 90%;                                                                          
        max-width: 90%;                                                                     
        justify-content: center;  
        margin-left: 1rem;                                                     
    }
    .cursos_sobre_informate .menu {
        display: flex;
        flex-direction: column;
        flex: 100%;
        max-width: 100%;                                                         
        align-items: flex-start;                                                             
    }
    .cursos_sobre_informate .menu a{        
        margin: 0;
        padding: 1rem 0;
        border-top: 1px solid var(--color_secundario);
        display: block;
    }
    .cursos_sobre_informate .menu .informate{
        padding: 1rem 1.4rem;
        border: 0;
    }
}

/*------------------Clases primera seccion-----------------------------------------------------------------------------------------------------------------*/

.primera_seccion {
    background-image: url(../img/11641891319_banner_zona_norte.png);                    /*Imagen de fondo*/
    background-size: cover;                                                             /*La imagen ocupa toda la sección*/
    background-repeat: no-repeat;                                                       /*La imagen no se repite para ocupar toda la sección*/
    padding-bottom: 18rem;                                                              /*Relleno inferior del bloque*/
}

.primera_seccion .titulo {
    font-family: var(--font_principal);
    color: var(--color_secundario);
    padding-top: 8rem;
    margin-bottom: 3.3rem;
    display: flex;
    flex-direction: column;                                                             /*Distribución del bloque en columna*/
    flex: 66%;
    max-width: 66%;
}

.primera_seccion .titulo strong {
    background-color: white;
    font-family: var(--font_principal);
    font-size: 4.7rem;                                                                  /*Tamaño de la fuente*/
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;                                                                   /*Tamaño de la linea de texto*/
    padding: 3px 15px;
    border-radius: 1rem;
    max-width: fit-content;                                                             /*El ancho del bloque se ajusta al contenido*/
}

.primera_seccion a {
    color: white;
    background-color: var(--color_secundario);
    text-decoration: none;
    border-radius: 1rem;
    padding: 2.4rem 9.4rem;
    text-transform: uppercase;                                                          /*Texto transformado a mayúsculas*/
    font-size: 1.4rem;
    font-weight: 700;
}

.primera_seccion a:hover {
    background-color: white;
    color: var(--color_secundario);
    border: 2px solid;                                                                  /*Tamaño del borde del bloque y opacidad*/
    border-color: var(--color_secundario);                                              /*Color del border*/
}

@media(max-width:1140px){
    .primera_seccion .titulo{
       max-width: 100%;
    }
    .primera_seccion .titulo strong{
        font-size: 4rem;
    }
}
@media(max-width:767px){
    .primera_seccion a{
        display: block;
        text-align: center;
    }
}

/*------------------Clases Logos---------------------------------------------------------------------------------------------------------------------------*/

.seccion_logos .contenedor {
    margin-top: -9rem;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;                                                                /*Distribucion del bloque en fila*/
    padding-top: 2rem;
}

.seccion_logos .contenedor .logo_oficial {
    flex: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;                                                                /*Alineación del objeto al centro*/
    justify-content: center;
}

.seccion_logos .contenedor .logo_adecco {
    flex: 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion_logos .contenedor img{
    max-width: 100%;
}

@media(max-width:767px){
    .seccion_logos .contenedor{
        flex-wrap: wrap;
    }
    .seccion_logos .contenedor .logo_oficial{
        flex: 100%;
        max-width: 100%;
    }
    .seccion_logos .contenedor .logo_adecco{
        flex: 100%;
        max-width: 100%;
        justify-content: center;
        padding-top: 4rem;
    }
}
/*------------------Clases de la sección de los cursos-----------------------------------------------------------------------------------------------------*/

.seccion_cursos {
    text-align: center;
    padding-top: 6rem;
    margin: 0 auto;
}

.seccion_cursos .cursos {
    color: var(--color_principal);
    font-family: var(--font_principal);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4rem 0rem;
}

.seccion_cursos .conectamos {
    color: var(--color_secundario);
    font-family: var(--font_principal);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.7rem;
    padding-top: 1.5rem;
}

.seccion_cursos .enlaces {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
}

.seccion_cursos a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color_secundario);
    margin-right: 1rem;
    border-radius: 8px;
    padding: 1.4rem 2rem;
    border: 1px solid;
    border-color: var(--color_principal);
}

.seccion_cursos .ver_todo {
    background-color: var(--color_principal);
    color: white;
}

/*------------------Clases de la sección de los bloques de inscribir---------------------------------------------------------------------------------------*/

.seccion_inscribir {    
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;     
}
.seccion_inscribir div{
    padding-top: 1rem 4rem;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 50%;
    max-width: 50%;
    border-radius: 10px;
}

.seccion_inscribir .marketing {
    background-image: url(../img/Curso-marketing-digital-norte.png);
    background-size: cover;                                                           /*La imagen se adapta para entrar en el bloque*/
    background-repeat: no-repeat;  
    margin-right: 1.5rem;  
}

.seccion_inscribir .programacion_web {
    background-image: url(../img/Curso-programacion-web-full-stack-norte.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1.5rem; 
}

.seccion_inscribir h2 {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 5rem;
}

.seccion_inscribir a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    background-color: white;
    color: var(--color_secundario);
    border-radius: 10px;
    padding: 2rem 4.4rem;
    max-width: fit-content;
    margin-left: 5rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    border: 1px solid white;
}

.seccion_inscribir .inscribirme:hover {
    color: white;
    background-color: var(--color_principal);
}

@media(max-width:767px){
    .seccion_inscribir {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        gap: 1rem;        
    }
    .seccion_inscribir div{
        flex: 100%;
        max-width: 100%;
    }
    .seccion_inscribir a{
        display: block;
    }
}

/*------------------Clases de la sección video-------------------------------------------------------------------------------------------------------------*/

.seccion_video{
    margin-top: 15rem; 
    margin-bottom: 7rem;
    height: 62.5rem; 
}

.seccion_video iframe{
    width: 100%;
    height: 100%;
}

@media(max-width:1140px){
    .seccion_video{
        height: 40rem;
    }
}

@media(max-width:767px){
    .seccion_video{
        height: 20rem;
    }
}
/*------------------Clases de la sección de interés--------------------------------------------------------------------------------------------------------*/

.seccion_interes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color_secundario);
    font-family: var(--font_principal);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 6rem;
}

.seccion_interes a {
    background-color: var(--color_principal);
    font-family: var(--font_principal);
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    border-radius: 96px;
    padding: 2rem 4rem;
    text-decoration: none;
    margin-top: 3rem;
}

.seccion_interes a:hover {
    text-decoration: underline;
    background-color: var(--color_secundario);
    color: white;
}

/*------------------Clases de la sección info--------------------------------------------------------------------------------------------------------------*/

.seccion_info {
    display: flex;
    flex-direction: row;
}

.seccion_info .izquierda {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
}

.seccion_info .derecha {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
    align-items: end;
}

.seccion_info .izquierda h3 {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--color_principal);
    text-align: left;
    text-transform: uppercase;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.seccion_info .izquierda h2 {
    font-size: 2.7rem;
    font-weight: 800;
    font-family: inherit;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.seccion_info .izquierda p {
    color: var(--color_secundario);
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
}

.seccion_info .izquierda h4 {
    font-weight: 800;
    font-family: inherit;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.seccion_info .izquierda .ir_a_web {
    text-transform: uppercase;
    color: var(--color_principal);
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.seccion_info .izquierda .ir_a_web::after {
    content: "";
    margin-left: 10px;
    width: 13px;
    height: 12px;
    background: url(../img/arrow-right-small-green.png);
    display: inline-block;
}

.seccion_info .izquierda .descargate {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--color_secundario);
    line-height: 1.5;
    text-align: left;
    font-family: inherit;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.seccion_info .izquierda .descargar {
    background: var(--color_secundario);
    padding: 20px 40px;
    border: 2px solid;
    border-color: var(--color_secundario);
    font-size: 1.4rem;
    color: white;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    text-decoration: none;
    max-width: fit-content;
    text-transform: uppercase;
    border-radius: 10px;
}

.seccion_info .izquierda .descargar:hover {
    background-color: var(--color_principal);
    color: var(--color_secundario);
}

.seccion_info .derecha h2 {
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.seccion_info .derecha h2 strong {
    background-color: var(--color_secundario);
    color: white;
    font-family: var(--font_principal);
    font-size: 2.5rem;
    font-weight: 1000;
    line-height: 2;
    padding: 3px 15px;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    max-width: fit-content;
}

.seccion_info .derecha h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_principal);
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 1000;
}

@media(max-width:1140px){
    .seccion_info{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .seccion_info .izquierda{
        max-width: 100%;
    }
    .seccion_info .derecha{
        max-width: 100%;
        align-items: center;
    }
}

@media(max-width:767px){
    .seccion_info .descargar{
        max-width: 100%;
        text-align: center;
    }
    .seccion_info .derecha h2{
        max-width: 100%;
        align-items: flex-start;
    }
    .seccion_info .derecha h2 strong{
        max-width:100%;
        text-align: left;
    }
}
/*------------------Clases de la sección de las localizaciones---------------------------------------------------------------------------------------------*/

.seccion_localizaciones {
    margin-top: 10rem;
    background-color: var(--color_secundario);
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    padding-bottom: 10rem;
}

.seccion_localizaciones h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2.7rem;
    margin-bottom: 5rem;
    padding-bottom: 0rem;
}
.seccion_localizaciones .localizaciones{
    display: grid;                                                                      /*Alinear contenedores dentro de un contenedor*/
    grid-template-columns: 1fr 1fr 1fr 1fr;                                             /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-rows: 1fr 1fr;                                                        /*grid-template: 1fr 1fr / 1fr 1fr 1fr 1f;  Primer las filas y luego las columnas*/
    margin-left: -1.5rem;                                                               /*gap:15px; Aplica espacios entre las filas y las columnas*/
}

.seccion_localizaciones .localizaciones div{
    padding: 2.4rem 1.5rem;
    line-height: 2rem;
}

.seccion_localizaciones .localizaciones h3{
    text-transform: uppercase;
    color: white;
    font-size: 1.7rem;
    padding-bottom: 0rem;
    margin: 0rem 0rem;    
}

.seccion_localizaciones .localizaciones p{
    text-transform: uppercase;
    color: white;   
    font-size: 1.4rem;
    margin: 0rem 0rem;    
}

@media(max-width:1140px){
    .seccion_localizaciones .localizaciones{
        display: grid;                                                   
        grid-template-columns: 1fr 1fr 1fr ;                                             
        grid-template-rows: 1fr 1fr 1fr;
}
}
@media(max-width:767px){
    .seccion_localizaciones .localizaciones{
        display: grid;                                                                      
        grid-template-columns: 1fr;                                             
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

/*------------------Clases de la sección contactar---------------------------------------------------------------------------------------------------------*/

.seccion_contactar {
    background-color: var(--color_principal);
    padding-top: 9rem;
    padding-bottom: 12rem;
}

.seccion_contactar h3{
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.seccion_contactar h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.7rem;
    padding-bottom: 1.5rem;
}

.seccion_contactar .bloques{
    display: flex;
    flex-direction: row;
}

.seccion_contactar .bloques .llamar{
    flex: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    background-color: white;    
    border-radius: 0.25rem;
    margin-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
} 

.seccion_contactar .bloques .llamar img{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
}

.seccion_contactar .bloques .llamar .texto_llamar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 0rem;
    margin: 0rem 18rem 0rem 2rem;
}

.seccion_contactar .bloques .escribir{
    flex: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color: white;    
    border-radius: 0.25rem;
    margin-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.seccion_contactar .bloques .escribir img{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
}

.seccion_contactar .bloques .escribir .texto_escribir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 0rem;
    margin: 0rem 18rem 0rem 2rem;
}

.seccion_contactar .bloques p{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--color_secundario);
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 800;
    margin: 0rem 0rem;
}

.seccion_contactar .bloques a{
    text-decoration: none;
    color: var(--color_principal);
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0rem 0rem;
}
.seccion_contactar .bloques a:hover{
    text-decoration: underline;
}

/* .seccion_contactar .bloques .icono{
    padding: 0rem 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
} */

@media(max-width:1140px){
    .seccion_contactar .bloques{
        display: flex;
        flex-direction: column;
    }
    .seccion_contactar .bloques .llamar{
        flex: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .seccion_contactar .bloques .escribir{
        flex: 100%;
        max-width: 100%;
        margin-left: 0;
    }
    .seccion_contactar .bloques .escribir a{
        max-width: 60%;
    }
}

/*------------------Clases de la sección footer-----------------------------------------------------------------------------------------------------------*/

footer .contenedor{
    padding: 5rem 0rem 4rem 0rem;
}

footer .primero{
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

footer .primero a{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--color_secundario);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10.2rem;
}

footer .primero .sobre_nosotros{
    text-decoration: underline;
}

footer .segundo{
    padding:2.5rem 1.5rem;
    margin: 0rem 0rem;
    border-top: 1px solid var(--color_secundario);
    border-bottom: 1px solid var(--color_secundario);
}

footer .segundo a{
    font-size: 1.4rem;
    color: var(--color_secundario);
    margin-right: 5rem;
}

footer .segundo a:hover {
    color: #17a2b8;
}

@media(max-width:767px){
    footer .primero{
        display: flex;
        flex-direction: column;
    }
    footer .primero a{
        max-width: 100%;
        margin-right: 0;
    }
    footer .segundo{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    footer .segundo a{
        margin-bottom: 1rem;
    }
}

/*---------------------------------------------------------------------------*/

.boton_fijo{
    position: fixed;
    right: 0;
    top:32rem;
}

.boton_to_top{
    position: fixed;
    right: 4rem;
    bottom: 7.5rem;
}

.boton_to_top img{
    width: 6rem;
    height: 6rem;
}

@media(max-width:767px){
    .boton_fijo{
        display: none;
    }
    .boton_to_top{
        display: none;
    }
}

/*---------------------------------------------------------------------*/
.seccion_movil{
    background-color: var(--color_principal);
    padding: 1.6rem 4rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.seccion_movil p{
    text-transform: uppercase;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}


@media(min-width:768px){
    .seccion_movil{
        display: none;
    }
} 