/*------------------Creación de variables usadas reiteradamente------------------------------------------------------------*/
:root {
    --color_principal: #00e497;
    --color_secundario: #02052F;
    --font_principal: 'Open Sans', sans-serif;
    /*--font_principal: 'Sigmar', cursive; Fuente copiada desde google fonts*/
}


html {
    font-size: 62.5%;
    /*Relacion del rem modificada a 1 rem ~ 10 px (parte 1)*/
}

/*------------------Creacion de la clase body donde almacenar todos los atributos comunos en toda la página----------------*/
body {
    font-size: 16px;
    /*Relacion del rem modificada a 1 rem ~ 10 px (parte 2)*/
    font-family: var(--font_principal);
    /*Tipo de fuente*/
    font-weight: 400;
    /*Grosor de la fuente*/
    color: var(--color_secundario);
    /*Color de la fuente*/
}

/* 
selector{
    propiedad: valor;
}
*/

/* h1 {
    color: red; Color de la fuente
    text-align: center; Justificación del texto
    background-color: black; Color del fondo
    padding: 50px;
    margin: 50px; Márgenes verticales y horizontales del cuadro de texto
    font-size: 45px; Tamaño de la fuente
    Unidades de medida en css: px (ud fijas), em, rem (uds relativas). 
    rem mas utilizada para visualizar en diferentes dispositivos
    1 rem ~ 16px
}

.titulo{
    color: blue;
}
Se superpone por especifidad al llamar al selector mediante clase
Especifidad Selector: Elemento < .Clase < #ID < !Important

.primera_seccion a{ Todos los enlaces de la clase primera sección
    color:green;

color:  #000; HEX
        rgb(255,255,255);
        rgba(255,255,255,1); Opacidad

}*/

/* .ejercicio_flex{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
    max-width: 50%;
}
.ejercicio_flex a{
    color: white;
    font-weight: bold;
} */

/*------------------Creación de la clase contenedor--------------------------------------------------------------------------*/
.contenedor {
    width: 60%;
    /*Ancho del contenedor*/
    /*margin: 0(top) auto(right) 0(botton) auto(left);
    margin: 0(top, botton) auto(right, left);
    margin-top:0; margin-right:auto...*/
    margin: 0 auto;
}

/*------------------Creacion de la clase header-----------------------------------------------------------------------------*/

.header {
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
    /*Alineación del texto a la derecha*/
    padding-top: 1.5rem;
    /*Tamaño superior del bloque header*/
    padding-bottom: 2.4rem;
    /*Tamaño inferior del bloque header*/
}

.header a {
    color: var(--color_principal);
    /*Llamada de variable*/
    text-decoration: none;
    /*Subrayado del enlace deshabilitado*/
    font-family: var(--font_principal);
    font-weight: 400;
}

.header .separador {
    margin-left: 0.5rem;
    /*Margen izquierdo*/
    margin-right: 0.5rem;
    /*Margen derecho*/
    /*margin: 0 0.5rem;*/
    color: var(--color_principal);
}

.header a:hover {
    text-decoration: underline;
    /*Habilitar subrayado*/
}

/*------------------Clases de imagen TuCarreraDigital y enlaces Cursos, Sobrenosotros e Informate---------------------------*/
.cursos_sobre_informate {
    display: flex;
    /*Permite habilitar la distribución del bloque*/
    /*flex-direction: row, row-reverse, colummn o column-reverse;  No hace falta ponerlo porque los enlaces ya estan en row*/
}

.cursos_sobre_informate .img_tcd {
    display: flex;
    flex: 34%;
    /*Porcentaje de ocupación del bloque en el div*/
    max-width: 34%;
    /*Ancho del bloque en el div*/
    justify-content: flex-start;
    /*Justificación del bloque al inicio del mismo*/
}

.cursos_sobre_informate .menu {
    display: flex;
    flex: 66%;
    max-width: 66%;
    justify-content: flex-end;
    /*Justificación del bloque al final del mismo*/
    align-items: center;
    /*Alineacion del objeto al centro del bloque*/
}

.cursos_sobre_informate a {
    color: var(--color_secundario);
    font-size: 1.4rem;
    margin-left: 2.5rem;
    font-weight: bold;
    /*Fuente en negrita*/
    text-decoration: none;
}

.cursos_sobre_informate a:hover {
    text-decoration: underline;
}

.cursos_sobre_informate .informate {
    background-color: var(--color_principal);
    /*Color del fondo del bloque*/
    font-weight: bold;
    color: white;
    border-radius: 20px;
    /*Radio de las esquinas del bloque*/
    padding: 1rem 1.4rem;
    /*Relleno de arriba, abajo y los laterales del bloque*/
    text-decoration: none;
}

.cursos_sobre_informate .informate:hover {
    text-decoration: none;
    background-color: #17a2b8;
}



/*------------------Clases primera seccion----------------------------------------------------------------------------------*/
.primera_seccion {
    background-image: url(/ProyectoInicio/img/11641891319_banner_zona_norte.png);
    /*Imagen de fondo*/
    background-size: cover;
    /*La imagen ocupa toda la sección*/
    background-repeat: no-repeat;
    /*La imagen no se repite para ocupar toda la sección*/
    padding-bottom: 18rem;
    /*Relleno inferior del bloque*/
}

.primera_seccion .titulo {
    font-family: var(--font_principal);
    color: var(--color_secundario);
    padding-top: 8rem;
    margin-bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    /*Distribución del bloque en columna*/
    flex: 66%;
    max-width: 66%;
}

.primera_seccion .titulo strong {
    background-color: white;
    font-family: var(--font_principal);
    font-size: 4.7rem;
    /*Tamaño de la fuente*/
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2;
    /*Tamaño de la linea de texto*/
    padding: 3px 15px;
    border-radius: 1rem;
    max-width: fit-content;
    /*El ancho del bloque se ajusta al contenido*/
}

.primera_seccion a {
    color: white;
    background-color: var(--color_secundario);
    text-decoration: none;
    border-radius: 1rem;
    padding: 2.4rem 9.4rem;
    text-transform: uppercase;
    /*Texto transformado a mayúsculas*/
    font-size: 1.4rem;
    font-weight: 700;
}

.boton:hover {
    background-color: white;
    color: var(--color_secundario);
    border: 2px solid;
    /*Tamaño del borde del bloque y opacidad*/
    border-color: var(--color_secundario);
    /*Color del border*/
}

/*------------------Clases Logos--------------------------------------------------------------------------------------------*/
.seccion_logos .contenedor {
    margin-top: -9rem;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    /*Distribucion del bloque en fila*/
    padding-top: 2rem;
}

.seccion_logos .contenedor .logo_oficial {
    flex: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
    /*Alineación del objeto al centro*/
    justify-content: center;
}

.seccion_logos .contenedor .logo_adecco {
    flex: 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------Clases de la sección de los cursos-----------------------------------------------------------------------*/

.seccion_cursos {
    text-align: center;
    padding-top: 6rem;
    margin: 0 auto;
}

.seccion_cursos .cursos {
    color: var(--color_principal);
    font-family: var(--font_principal);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4rem 0rem;
}

.seccion_cursos .conectamos {
    color: var(--color_secundario);
    font-family: var(--font_principal);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.7rem;
    padding-top: 1.5rem;
}

.seccion_cursos .enlaces {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: row;
    justify-content: space-between;
}

.seccion_cursos a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color_secundario);
    margin-right: 1rem;
    border-radius: 8px;
    padding: 1.4rem 2rem;
    border: 1px solid;
    border-color: var(--color_principal);
}

.seccion_cursos .ver_todo {
    background-color: var(--color_principal);
    color: white;
}

/*------------------Clases de la sección de los bloques de inscribir---------------------------------------------------------*/

.seccion_inscribir .alineacion_inscribir {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 6rem;
    background-position: right;
}

.seccion_inscribir .marketing {
    background-image: url(/ProyectoInicio/img/Curso-marketing-digital-norte.png);
    background-size: contain;
    /*La imagen se adapta para entrar en el bloque*/
    background-repeat: no-repeat;
    flex: 50%;
    max-width: 50%;
    min-height: 30rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.seccion_inscribir .programacion_web {
    background-image: url(/ProyectoInicio/img/Curso-programacion-web-full-stack-norte.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex: 50%;
    max-width: 50%;
    min-height: 30rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seccion_inscribir h2 {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-left: 5rem;
}

.seccion_inscribir .marketing .inscribirme {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    background-color: white;
    color: var(--color_secundario);
    border-radius: 10px;
    padding: 2rem 4.4rem;
    max-width: fit-content;
    margin-left: 5rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.seccion_inscribir .programacion_web .inscribirme {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    background-color: white;
    color: var(--color_secundario);
    border-radius: 10px;
    padding: 2rem 4.4rem;
    max-width: fit-content;
    margin-left: 5rem;
    margin-top: 4rem;
    margin-bottom: 8.5rem;
}

.seccion_inscribir .inscribirme:hover {
    color: white;
    background-color: var(--color_principal);
    border: 1px solid;
    border-color: white;
}

/*------------------Clases de la sección de interés--------------------------------------------------------------------------*/
.seccion_interes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color_secundario);
    font-family: var(--font_principal);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 6rem;
}

.seccion_interes a {
    background-color: var(--color_principal);
    font-family: var(--font_principal);
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    border-radius: 96px;
    padding: 2rem 4rem;
    text-decoration: none;
    margin-top: 3rem;
}

.seccion_interes a:hover {
    text-decoration: underline;
    background-color: var(--color_secundario);
    color: white;
}

/*------------------Clases de la sección info--------------------------------------------------------------------------------*/
.seccion_info{
    display: flex;
    flex-direction: row;
}

.seccion_info .izquierda {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
}

.seccion_info .derecha {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%;
    align-items: end;
}

.seccion_info .izquierda h3 {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--color_principal);
    text-align: left;
    text-transform: uppercase;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.seccion_info .izquierda h2 {
    font-size: 2.7rem;
    font-weight: 800;
    font-family: inherit;
    margin-top: 0rem;
    margin-bottom: 2.2rem;
}

.seccion_info .izquierda p{
    color: var(--color_secundario);
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
}
.seccion_info .izquierda h4{
    font-weight: 800;
    font-family: inherit;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.seccion_info .izquierda .ir_a_web{
    text-transform: uppercase;
    color: var(--color_principal);
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 5rem;
}
.seccion_info .izquierda .ir_a_web::after {
    content: "";
    margin-left: 10px;
    width: 13px;
    height: 12px;
    background: url(/ProyectoInicio/img/arrow-right-small-green.png);
    display: inline-block;
}

.seccion_info .izquierda .descargate{
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--color_secundario);
    line-height: 1.5;
    text-align: left;
    font-family: inherit;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.seccion_info .izquierda .descargar{
    background: var(--color_secundario);
    padding: 20px 40px;
    border: 2px solid;
    border-color: var(--color_secundario);
    font-size: 1.4rem;
    color: white;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    text-decoration: none;
    max-width: fit-content;
    text-transform: uppercase;
    border-radius: 10px;
}

.seccion_info .izquierda .descargar:hover{
    background-color: var(--color_principal);
    color: var(--color_secundario);
}

.seccion_info .derecha h2{
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.seccion_info .derecha h2 strong{
    background-color: var(--color_secundario);
    color: white;
    font-family: var(--font_principal);
    font-size: 2.5rem;
    font-weight: 1000;
    line-height: 2;
    padding: 3px 15px;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    max-width: fit-content;
}

.seccion_info .derecha h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_principal);
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 1000;
}

/*------------------Clases de la sección de las localizaciones---------------------------------------------------------------*/
.seccion_localizaciones {
    background-color: var(--color_secundario);
}

.seccion_localizaciones .contenedor {
    color: white;
}

.seccion_localizaciones .contenedor div,
.contenedor h3,
.contenedor p {
    font-size: 1.5rem;
    display: inline;
}

/*------------------Clases de la sección contactar---------------------------------------------------------------------------*/
.seccion_contactar {
    background-color: var(--color_principal);
}


/* 
@media (min-width:400px){

    body{
        background-color: purple;
    }
    
}

@media (min-width:750px){

    body{
        background-color: yellow;
    }

}

@media (min-width:900px){

    body{
        background-color: red;
    }

} 

PC-> 1140px
Tablet -> 768px
Movil -> 480px */