/*-------------VARIABLES--------------------------------------------*/

:root {
    --fuente_header: 'Orbitron', sans-serif;
    --color_principal: rgb(123, 104, 238);
    --color_secundario: #2a2a2a;
}

/*-------------HTML-------------------------------------------------*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*-------------BODY-------------------------------------------------*/

body {
    font-size: 16px;
    margin: 0 0;
    background-color: var(--color_principal);
}

/*-------------CABECERA---------------------------------------------*/
.cabecera {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color_secundario);
    z-index: 3000;
}

.cabecera .izquierda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 70%;
    max-width: 70%;
}

.izquierda .logo_web {
    display: flex;
    flex: 10%;
    width: 10%;
    margin-left: 5rem;
}

.logo_web img {
    width: 5rem;
    height: 5rem;
    opacity: 70%;
    transition-property: opacity, filter;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.logo_web img:hover {
    opacity: 100%;
    filter: drop-shadow(5px 5px 10px var(--color_principal));
}

.izquierda .enlaces {
    flex: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    align-items: center;
    text-align: center;
}

.izquierda .enlaces a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    color: white;
    opacity: 70%;
    transition: opacity 1s ease;
    transition: font-size 1s ease;
}

.izquierda .enlaces .tienda {
    display: block;
    opacity: 100%;
    font-size: 2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-bottom: 3px solid rgb(123, 104, 238);

}

.izquierda .noticias:hover {
    opacity: 100%;
    font-size: 2rem;
}

.izquierda .faq:hover {
    opacity: 100%;
    font-size: 2rem;
}

.izquierda .acerca:hover {
    opacity: 100%;
    font-size: 2rem;
}

.cabecera .derecha {
    display: grid;
    grid-template-columns: 1fr 30% 30%;
    justify-content: flex-end;
    flex: 50%;
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.derecha .descargar {
    grid-column: 2/3;
}

.derecha .descargar {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.derecha .descargar img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity font-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar:hover p {
    opacity: 100%;
    font-size: 2rem;
}

.derecha .descargar:hover img {
    opacity: 100%;
    height: 2.3rem;
}

.derecha .iniciar_sesion {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.derecha .iniciar_sesion img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity font-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion:hover p {
    opacity: 100%;
    font-size: 2rem;
}

.derecha .iniciar_sesion:hover img {
    opacity: 100%;
    height: 2.3rem;
}

/*-------------CONTENEDOR-------------------------------------------*/

.contenedor {
    max-width: 60%;
    margin-left: 50rem;
}

/*-------------SECCIÓN BÚSQUEDA-------------------------------------*/
.buscador{
    display: flex;
    justify-content: flex-end;
}
.bloque_buscador {
    margin-top: 10rem;
    height: 5rem;
    width: 20%;
    display: block;
    margin-right: 2rem;
}

.bloque_buscador .input_buscador {
    
    background-color: var(--color_secundario);
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 3rem;
    gap: 1rem;
}

.bloque_buscador .input_buscador input {
    background-color: var(--color_secundario);
    color: white;
    margin-right: 3rem;
    border-color: transparent;
    font-size: 2rem;
    font-family: var(--fuente_header);
    outline: 0;
}

/*-------------SECCIÓN CATÁLOGO-------------------------------------*/

.catalogo {
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.catalogo .juego{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color_secundario);
    border-radius: 12px;
    cursor: pointer;
}

.catalogo .juego .caratula{
    flex: 60%;
    width: 20rem;
    height: 25rem;
    margin-right: 2rem;
}

.catalogo .juego .caratula img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 10px; 
}

.catalogo .juego .texto{
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; */
}

.catalogo .juego .texto .titulo{
    flex:50%;
    height:50%;
    display: flex;
    align-items: center;
}

.catalogo .juego .texto .precio{
    flex:50%;
    height:50%;
    display: flex;
    align-items: center;
}

/*-------------SECCIÓN FILTROS--------------------------------------*/

.filtros{
    position: fixed;
    left: 0;
    top:0;
    background-image: linear-gradient(to right, var(--color_secundario) 10%, #797979 80%,  var(--color_principal) 100%);
    width: 40rem;
    height: 100%;
    color: white;
    z-index: -1;
}

.filtros h2{
    margin-left: 5rem;
    margin-top: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}

.filtros h3{
    margin-left: 5rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.filtros label{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 5rem;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.filtros div{
    margin-bottom: 3rem;
}

.filtros button{
    margin-left: 12rem;
}

/*-------------PIE DE PÁGINA----------------------------------------*/

.pie_pagina {
    background-color: var(--color_secundario);
}

.pie_pagina .contenedor_footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.pie_pagina .logos_redes {
    margin: 2rem 1rem 2rem 1rem;
}

.pie_pagina .logos_redes a {
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.pie_pagina .logos_redes .instagram img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .instagram img:hover {
    opacity: 100%;
}

.pie_pagina .logos_redes .twitter img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .twitter img:hover {
    opacity: 100%;
}

.pie_pagina .logos_redes .facebook img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .facebook img:hover {
    opacity: 100%;
}

.pie_pagina .contenido {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    border-top: 2px solid;
    border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
    margin-bottom: 1.5rem;
}

.pie_pagina .contenido .footer_izq {
    display: flex;
    flex-direction: column;
    flex: 70%;
    width: 70%;
    margin-top: 1rem;
}

.pie_pagina .contenido .footer_izq p {
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
}

.pie_pagina .contenido .footer_izq a {
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
    text-decoration: none;
    margin-right: 1rem;
}

.pie_pagina .contenido .logos_derecha {
    display: flex;
    flex: 30%;
    width: 30%;
    justify-content: flex-end;
    margin-top: 1rem;
}

.pie_pagina .contenido .logos_derecha img {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    transition: opacity 1s ease;
    opacity: 50%;
}

.pie_pagina .contenido .logos_derecha img:hover {
    opacity: 100%;
}


/*-------------POP-UP----------------------------------------*/

.popup_juego {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
}

.popup_juego.active {
    visibility: visible;
}

.popup_contenido_juego {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.boton_cerrar_juego {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.boton_cerrar_juego:before,
.boton_cerrar_juego:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 2px;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(45deg);
}

.boton_cerrar_juego:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}