/*-------------VARIABLES--------------------------------------------*/

:root {
    --fuente_header: 'Orbitron', sans-serif;
    --color_principal: rgb(123, 104, 238);
    --color_secundario: #2a2a2a;
    --color_terciario: #808080;
}

/*-------------HTML-------------------------------------------------*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*-------------BODY-------------------------------------------------*/

body {
    font-size: 16px;
    margin: 0 0;
}


/*-------------PORTADA----------------------------------------------*/

.portada {
    position: relative;
    max-width: 100%;
    height: 100vh;
}

/*~~~~~~~~~~~~~CABECERA~~~~~~~~~~~~*/
.portada .cabecera {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.portada .cabecera .izquierda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 80%;
    max-width: 80%;
}

.portada .izquierda .logo_web {
    display: flex;
    flex: 10%;
    width: 10%;
    margin-left: 5rem;
}

.logo_web img {
    width: 8rem;
    height: 8rem;
    opacity: 70%;
    transition-property: opacity, filter;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.logo_web img:hover {
    opacity: 100%;
    filter: drop-shadow(5px 5px 10px var(--color_principal));
}

.portada .izquierda .enlaces {
    flex: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.portada .izquierda .enlaces a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    color: white;
    opacity: 70%;
    transition: opacity 1s ease;
    transition: margin-bottom 1s ease;
    margin-right: 5rem;
    padding: 0.5rem;
}

.portada .izquierda .tienda:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.portada .izquierda .noticias:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.portada .izquierda .faq:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.portada .izquierda .acerca:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.portada .cabecera .derecha {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 50%;
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.derecha .descargar {
    display: flex;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
}

.derecha .descargar img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar:hover p {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.derecha .descargar:hover img {
    opacity: 100%;
    margin-bottom: 1rem;
}

.derecha .iniciar_sesion {
    display: flex;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    margin-right: 5rem;
    padding: 0.5rem;
}

.derecha .iniciar_sesion img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion:hover p {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.derecha .iniciar_sesion:hover img {
    opacity: 100%;
    margin-bottom: 1rem;
}

.menu {
    display: none;
}

.desplegable {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.desplegable a {
    display: block;
    text-align: right;
    margin-right: 4rem;
    margin-left: 4rem;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 2rem 2rem;
    opacity: 70%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.desplegable a:hover {
    opacity: 100%
}


.desplegable_descargar {
    display: flex;
    text-decoration: none;
    justify-content: right;
    cursor: pointer;
    padding: 2rem 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.desplegable_descargar img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
}

.desplegable_descargar p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.desplegable_descargar p:hover{
    opacity: 100%
}

.desplegable_iniciar_sesion {
    display: flex;
    text-decoration: none;
    justify-content: right;
    cursor: pointer;
    padding: 2rem 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.desplegable_iniciar_sesion img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
}

.desplegable_iniciar_sesion p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.desplegable_iniciar_sesion p:hover{
    opacity: 100%
}

/*~~~~~~~~~~~~~FOTOS~~~~~~~~~~~~*/

.fotos_portada {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 1fr; */
    height: 100%;
    max-width: 100%;
}

/*~~~~~~~~~~~~~FOTO 1~~~~~~~~~~~~*/

.portada .foto1 {
    background-image: url(https://media.fromsoftware.jp/fromsoftware/jp/static/img/top/pc/eldenring/background_c.jpg);
    background-size: cover;
    background-position: 51% center;
    background-repeat: no-repeat;
    height: 100%;
    filter: grayscale(100%);
}

.portada .foto1:hover {
    z-index: 1000;
    margin-right: -50%;
    filter: none;
    transition-property: margin-right, filter;
    transition-duration: 1s, 2s;
    transition-timing-function: steps(144);
}

.portada .foto1 img {
    width: 80%;
    display: block;
    margin: 60rem auto auto auto;
    opacity: 0%;
}

.portada .foto1:hover img {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
}

/* .portada .foto1:hover~.foto2 {
    z-index: 500;
    background-position: 50%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
} */

/*~~~~~~~~~~~~~FOTO 2~~~~~~~~~~~~*/

.portada .foto2 {
    background-image: url(https://www.gameoverla.com/wp-content/uploads/2022/11/gameoverla-2.jpg);
    background-size: cover;
    background-position: 62.5% center;
    background-repeat: no-repeat;
    height: 100%;
    filter: grayscale(100%);
}

.portada .foto2:hover {
    z-index: 1000;
    filter: none;
    margin-right: -50%;
    transition-property: margin-right, filter;
    transition-duration: 1s, 2s;
    transition-timing-function: steps(144);
}

.portada .foto2 img {
    width: 65%;
    display: block;
    margin: 53rem auto auto auto;
    opacity: 0%;
}

.portada .foto2:hover img {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
}

/* .portada .foto2:hover~.foto3 {
    z-index: 500;
    background-position: 55%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
} */

/*~~~~~~~~~~~~~FOTO 3~~~~~~~~~~~~*/

.portada .foto3 {
    background-image: url(https://media.revistagq.com/photos/6439162c8820974de0de678a/4:3/w_2279,h_1709,c_limit/Final-Fantasy-xvi.jpeg);
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;
    height: 100%;
    filter: grayscale(100%);
}

.portada .foto3:hover {
    z-index: 1000;
    filter: none;
    margin: 0 -25% 0 -25%;
    transition-property: margin, filter;
    transition-duration: 1s, 2s;
    transition-timing-function: steps(144);
}

.portada .foto3 img {
    width: 80%;
    display: block;
    margin: 60rem auto auto auto;
    opacity: 0%;
}

.portada .foto3:hover img {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
}

/* .portada .foto3:hover~.foto2 {
    z-index: 500;
    background-position: -42.5vw;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.portada .foto3:hover~.foto4 {
    z-index: 500;
    background-position: 48%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
    } */

/*~~~~~~~~~~~~~FOTO 4~~~~~~~~~~~~*/

.portada .foto4 {
    background-image: url(https://ngpmedia.com/wp-content/uploads/2023/04/deadislandmain.jpg);
    background-size: cover;
    background-position: 55% center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    filter: grayscale(100%);
}

.portada .foto4:hover {
    z-index: 1000;
    filter: none;
    margin-left: -50%;
    transition-property: margin-left, filter;
    transition-duration: 1s, 2s;
    transition-timing-function: steps(144);
}

.portada .foto4 img {
    width: 80%;
    display: block;
    margin: 58rem auto auto auto;
    opacity: 0%;
}

.portada .foto4:hover img {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
}

/* .portada .foto4:hover~.foto3 {
    z-index: 500;
    background-position: 65%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
} */

/*~~~~~~~~~~~~~FOTO 5~~~~~~~~~~~~*/

.portada .foto5 {
    background-image: url(https://images8.alphacoders.com/129/thumb-1920-1292495.jpg);
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    filter: grayscale(100%);
}

.portada .foto5:hover {
    z-index: 1000;
    filter: none;
    margin-left: -50%;
    transition-property: margin-left, filter;
    transition-duration: 1s, 2s;
    transition-timing-function: steps(144);
}

.portada .foto5 img {
    width: 100%;
    display: block;
    margin: 58rem auto auto auto;
    opacity: 0%;
}

.portada .foto5:hover img {
    opacity: 100%;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.portada .foto5:hover+.foto4 {
    z-index: 500;
    background-position: 60%;
    transition-property: background-position;
    transition-duration: 1s;
    transition-timing-function: linear;
}

/*-------------PIE DE PÁGINA----------------------------------------*/

.portada .pie_pagina {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.portada .pie_pagina .contenedor {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.portada .pie_pagina .logos_redes {
    margin: 1rem 1rem;
}

.portada .pie_pagina .logos_redes a {
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.portada .pie_pagina .logos_redes .instagram img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.portada .pie_pagina .logos_redes .instagram img:hover {
    opacity: 100%;
}

.portada .pie_pagina .logos_redes .twitter img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.portada .pie_pagina .logos_redes .twitter img:hover {
    opacity: 100%;
}

.portada .pie_pagina .logos_redes .facebook img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.portada .pie_pagina .logos_redes .facebook img:hover {
    opacity: 100%;
}

.portada .pie_pagina .contenido {
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    border-top: 2px solid;
    border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
}

.portada .pie_pagina .contenedor .izquierda_footer {
    display: flex;
    flex: 70%;
    width: 70%;
}

.portada .pie_pagina .contenedor .derecha_footer {
    display: flex;
    flex: 30%;
    width: 30%;
    justify-content: flex-end;
}

.portada .pie_pagina .contenedor .derecha_footer img {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
}

.portada .pie_pagina .contenedor .derecha_footer .logo_footer img {
    opacity: 50%;
    transition-property: opacity, filter;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.portada .pie_pagina .contenedor .derecha_footer .logo_footer img:hover {
    opacity: 100%;
    filter: drop-shadow(5px 5px 10px var(--color_principal));
}

.portada .pie_pagina .contenedor .derecha_footer .unreal img {
    opacity: 50%;
    transition: opacity 1s ease;
}

.portada .pie_pagina .contenedor .derecha_footer .unreal img:hover {
    opacity: 100%;
}

.pie_pagina_media {
    display: none;
}

/*-------------POP-UP LOGIN----------------------------------------*/

.login_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color_terciario);
    opacity: 90%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    z-index: 9999;
}

.contenido_popup {
    background-color: var(--color_terciario);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}

.contenido_popup h1 {
    color: var(--color_secundario);
    font-family: Arial, Helvetica, sans-serif;
}

.login_popup input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: var(--color_secundario);
}

button {
    padding: 10px 20px;
    background-color: var(--color_principal);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cerrar:before,
.cerrar:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 2px;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cerrar:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/*-------------POP-UP DESCARGAR-------------------------------------*/

.descargar_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color_terciario);
    border-radius: 10px;
    z-index: 9999;
    width: 80rem;
    height: 50rem;
}

#video_frame {
    pointer-events: none;
}

.cerrar_descargar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cerrar_descargar:before,
.cerrar_descargar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cerrar_descargar:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*-------------MEDIA QUERY------------------------------------------*/
@media(max-width:1140px) {

    .portada {
        height: auto;
        max-width: 100vw;
    }
    /*-----CABECERA-----*/
    .enlaces a {
        display: none;
    }

    .menu {
        display: flex;
        margin-right: 5rem;
        align-items: center;
        cursor: pointer;
    }

    .menu img {
        width: 6rem;
        height: 6rem;
        opacity: 70%;
    }

    .derecha .descargar {
        display: none;
    }

    .derecha .iniciar_sesion {
        display: none;
    }

    /*-----FOTOS-----*/

    .fotos_portada {
        display: flex;
        flex-direction: column;
        
    }

    .fotos_portada img .grayscale {
        filter: grayscale(100%);
        transition: filter 0.5s ease;
    }

    /*---------------------------------------------------------*/
    .portada .foto1 {
        background-position: center;
        height: 100vh;
        filter: none;
    }

    .portada .foto1:hover {
        background-position: center;
        height: 100vh;
        filter: none;
        margin-right: 0;
    }

    .portada .foto1 img {
        opacity: 100%;
        height: auto;
        width: 70%;
        
    }

    /*---------------------------------------------------------*/
    .portada .foto2 {
        background-position: center;
        height: 100vh;
        filter: none;
    }

    .portada .foto2:hover {
        background-position: center;
        height: 100vh;
        filter: none;
        margin-right: 0;
    }

    .portada .foto2 img {
        opacity: 100%;
        height: auto;
        width: 70%;
    }

    /*---------------------------------------------------------*/
    .portada .foto3 {
        background-position: center;
        height: 100vh;
        filter: none;
    }

    .portada .foto3:hover {
        background-position: center;
        height: 100vh;
        filter: none;
        margin: 0;
    }

    .portada .foto3 img {
        opacity: 100%;
        height: auto;
        width: 70%;
    }

    /*---------------------------------------------------------*/
    .portada .foto4 {
        background-position: center;
        height: 100vh;
        filter: none;
    }

    .portada .foto4:hover {
        background-position: center;
        height: 100vh;
        filter: none;
        margin-left: 0;
    }

    .portada .foto4 img {
        opacity: 100%;
        height: auto;
        width: 70%;
    }

    /*---------------------------------------------------------*/
    .portada .foto5 {
        background-position: center;
        height: 100vh;
        filter: none;
    }

    .portada .foto5:hover {
        background-position: center;
        height: 100vh;
        filter: none;
        margin-left: 0;
    }

    .portada .foto5 img {
        opacity: 100%;
        height: auto;
        width: 70%;
    }


    /*-----FOOTER-----*/

    .pie_pagina{
        display:none;
    }

    .pie_pagina_media {
        display:flex;
        flex-direction: column;
        background-color: var(--color_secundario);
    }

    .pie_pagina_media .logos_redes_media {
        justify-content: space-between;
        margin: 3rem auto;
    }

    .pie_pagina_media .logos_redes_media a {
        margin: auto 2rem;
        text-decoration: none;
    }

    .pie_pagina_media .logos_redes_media img{
        width: 5rem;
        height: 5rem;
    }

    .pie_pagina_media .contenido_media {
        padding: 1rem 5rem;
        border-top: 2px solid;
        border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .pie_pagina_media .contenido_media p {
        color: white;
        opacity: 60%;
        font-family: var(--fuente_header);
        font-size: 15px;
    }

    .pie_pagina_media .logos_pagina_media {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
    }

    .pie_pagina_media .logos_pagina_media img {
        width: 5rem;
        height: 5rem;
        margin: 0 2rem;
    }
}