/*-------------VARIABLES--------------------------------------------*/

:root{
    --fuente_header: 'Orbitron', sans-serif; 
    --color_principal: rgb(123, 104, 238); 
    --color_secundario: #2a2a2a;  
}

/*-------------HTML-------------------------------------------------*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/*-------------BODY-------------------------------------------------*/

body{
    font-size: 16px;
    margin: 0 0;
    background-color: var(--color_principal);
}

/*-------------CONTENEDOR-------------------------------------------*/

.contenedor{
    max-width: 60%;
    margin: 0 auto;
}


/*-------------CABECERA---------------------------------------------*/
.cabecera{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color_secundario);
    z-index: 3000;
 }
.cabecera .izquierda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 70%;
    max-width: 70%;
}
.izquierda .logo_web{
    display: flex;
    flex: 10%;
    width: 10%;
    margin-left: 5rem;
}
.logo_web img{
    width: 4rem;
    height: 4rem;
    opacity: 70%;
    transition-property: opacity, filter;
    transition-duration: 1s, 1s;
    transition-timing-function: ease; 
}
.logo_web img:hover{
    opacity:100%;
    filter: drop-shadow(5px 5px 10px var(--color_principal));
}
.izquierda .enlaces{  
    flex: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;  
    align-items: center;  
    text-align: center;
}
.izquierda .enlaces a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    color: white;
    opacity: 70%;
    transition: opacity 1s ease;
    transition: font-size 1s ease;
}
.izquierda .enlaces .faq{
    display: block;
    opacity:100%;
    font-size: 2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-bottom: 3px solid rgb(123, 104, 238);
    
}
.izquierda .tienda:hover{
    opacity:100%;
    font-size: 2rem;
}
.izquierda .noticias:hover{
    opacity:100%;
    font-size: 2rem;
}
.izquierda .acerca:hover{
    opacity:100%;
    font-size: 2rem;
}
.cabecera .derecha{
    display: grid;
    grid-template-columns: 1fr 30% 30% ;
    justify-content: flex-end;
    flex: 50%;
    max-width: 50%;
    align-items: center;  
    text-align: center;
}
.derecha .descargar{
    grid-column: 2/3;
}
.derecha .descargar{
    display:flex; 
    text-decoration: none;
    justify-content: center;
}
.derecha .descargar img{
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}
.derecha .descargar p{    
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;   
    transition-property: opacity font-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}
.derecha .descargar:hover p{
    opacity:100%;
    font-size: 2rem;
}
.derecha .descargar:hover img{
    opacity:100%;
    height: 2.3rem;
}
.derecha .iniciar_sesion{
    display:flex; 
    text-decoration: none;
    justify-content: center;
}
.derecha .iniciar_sesion img{
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}
.derecha .iniciar_sesion p{    
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;   
    transition-property: opacity font-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion:hover p{
    opacity:100%;
    font-size: 2rem;
}
.derecha .iniciar_sesion:hover img{
    opacity:100%;
    height: 2.3rem;
}

/*---------------------------BODY----------------------------------*/

.contenido{
    display: flex;
    flex-direction: column;
}

.princi{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
 /*AQUI*/

/*-------------PIE DE PÁGINA----------------------------------------*/

.pie_pagina{    
    background-color: var(--color_secundario);   
 }
 .pie_pagina .contenedor_footer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
 }
 .pie_pagina .logos_redes{
    margin: 2rem 1rem 2rem 1rem;
 }
 .pie_pagina .logos_redes a{
    margin: 0 1rem 0 0;
    text-decoration: none;
 }
 .pie_pagina .logos_redes .instagram img{
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
 }
 .pie_pagina .logos_redes .instagram img:hover{
    opacity: 100%;
 }
 .pie_pagina .logos_redes .twitter img{
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
 }
 .pie_pagina .logos_redes .twitter img:hover{
    opacity: 100%;
 }
 .pie_pagina .logos_redes .facebook img{
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
 } 
 .pie_pagina .logos_redes .facebook img:hover{
    opacity: 100%;
 }

 .pie_pagina .contenido{
    display:flex;
    flex-direction: row;
    padding: 0.5rem 0;
    border-top: 2px solid ;
    border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
 }
 .pie_pagina .contenido .footer_izq{
    display: flex;
    flex-direction: column;
    flex: 70%;
    width: 70%;
    margin-top: 1rem;
 }

 .pie_pagina .contenido .footer_izq p{
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
 }

 .pie_pagina .contenido .footer_izq a{
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
    text-decoration: none;
    margin-right: 1rem;
 }

.pie_pagina .contenido .logos_derecha{
    display:flex;
    flex: 30%;
    width: 30%;
    justify-content: flex-end;
    margin-top: 1rem;
 }

 .pie_pagina .contenido .logos_derecha img{
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    transition: opacity 1s ease;
    opacity: 50%;
}
.pie_pagina .contenido .logos_derecha img:hover{
    opacity: 100%;
}

