/*-------------VARIABLES--------------------------------------------*/

:root {
    --fuente_header: 'Orbitron', sans-serif;
    --color_principal: rgb(123, 104, 238);
    --color_secundario: #2a2a2a;
}

/*-------------HTML-------------------------------------------------*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*-------------BODY-------------------------------------------------*/

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    background-color: var(--color_principal);
}

/*-------------CONTENEDOR-------------------------------------------*/

.contenedor {
    max-width: 60%;
    margin: 0 auto;
}

/*-------------CABECERA---------------------------------------------*/
.cabecera{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color_secundario);
    z-index: 3000;
 }

.cabecera .izquierda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 80%;
    max-width: 80%;
}

.izquierda .logo_web {
    display: flex;
    flex: 10%;
    width: 10%;
    margin-left: 5rem;
}

.logo_web img {
    width: 5rem;
    height: 5rem;
    opacity: 70%;
    transition-property: opacity, filter;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.logo_web img:hover {
    opacity: 100%;
    filter: drop-shadow(5px 5px 10px var(--color_principal));
}

.izquierda .enlaces {
    flex: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 5rem;
    justify-content: space-between;
}

.izquierda .enlaces a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    color: white;
    opacity: 70%;
    transition: opacity 1s ease;
    transition: margin-bottom 1s ease;
    padding: 0.5rem;
}

.izquierda .tienda:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.izquierda .noticias:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.izquierda .faq:hover{
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.izquierda .acerca:hover {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.cabecera .derecha {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 50%;
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.derecha .descargar {
    display: flex;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
}

.derecha .descargar img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .descargar:hover p {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.derecha .descargar:hover img {
    opacity: 100%;
    margin-bottom: 1rem;
}

.derecha .iniciar_sesion {
    display: flex;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    margin-right: 5rem;
    padding: 0.5rem;
}

.derecha .iniciar_sesion img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
    opacity: 70%;
    transition-property: opacity margin-bottom;
    transition-duration: 1s, 1s;
    transition-timing-function: ease;
}

.derecha .iniciar_sesion:hover p {
    opacity: 100%;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.derecha .iniciar_sesion:hover img {
    opacity: 100%;
    margin-bottom: 1rem;
}

/*---------------------MENU DESPLEGABLE 1140px-------------*/

.menu{
    display:none;
}
.desplegable{
    display: none;
    position: absolute;
    top: 8rem;
    right: 0;
    z-index: 1;
    background-color: var(--color_secundario);
}

.desplegable a{
    display: block;
    text-align: right;
    margin-right: 1rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 2rem 2rem;
    margin-right: 2rem;
}

.desplegable a:hover{
    opacity:100%
}

.desplegable_descargar {
    display: flex;
    text-decoration: none;
    justify-content: right;
    cursor: pointer;
    padding: 2rem 2rem;
    margin-right: 2rem;
}

.desplegable_descargar img {
    margin-right: 1rem;
    height: 1.7rem;
    opacity: 70%;
}

.desplegable_descargar p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
}

.desplegable_iniciar_sesion {
    display: flex;
    text-decoration: none;
    justify-content: right;
    cursor: pointer;
    padding: 2rem 2rem;
    margin-right: 2rem;
}

.desplegable_iniciar_sesion img {
    margin-right: 1rem;
    height: 1.7rem;
}

.desplegable_iniciar_sesion p {
    text-transform: uppercase;
    font-family: var(--fuente_header);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
}

/*--------------BODY-------------------------------------------------*/
.asegurando{
    margin: 5rem auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
}
p{
    color: rgb(30, 30, 30);
}


/*-------------PIE DE PÁGINA----------------------------------------*/

.pie_pagina {
    background-color: var(--color_secundario);
}

.pie_pagina .contenedor_footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.pie_pagina .logos_redes {
    margin: 2rem 1rem 2rem 1rem;
}

.pie_pagina .logos_redes a {
    margin: 0 1rem 0 0;
    text-decoration: none;
}

.pie_pagina .logos_redes .instagram img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .instagram img:hover {
    opacity: 100%;
}

.pie_pagina .logos_redes .twitter img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .twitter img:hover {
    opacity: 100%;
}

.pie_pagina .logos_redes .facebook img {
    width: 2%;
    text-decoration: none;
    opacity: 50%;
    transition: opacity 1s ease;
}

.pie_pagina .logos_redes .facebook img:hover {
    opacity: 100%;
}

.pie_pagina .contenido {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    border-top: 2px solid;
    border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
    margin-bottom: 1.5rem;
}

.pie_pagina .contenido .footer_izq {
    display: flex;
    flex-direction: column;
    flex: 70%;
    width: 70%;
    margin-top: 1rem;
}

.pie_pagina .contenido .footer_izq p {
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
}

.pie_pagina .contenido .footer_izq a {
    color: white;
    opacity: 60%;
    font-family: var(--fuente_header);
    font-size: 12px;
    text-decoration: none;
    margin-right: 1rem;
}

.pie_pagina .contenido .logos_derecha {
    display: flex;
    flex: 30%;
    width: 30%;
    justify-content: flex-end;
    margin-top: 1rem;
}

.pie_pagina .contenido .logos_derecha img {
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    transition: opacity 1s ease;
    opacity: 50%;
}

.pie_pagina .contenido .logos_derecha img:hover {
    opacity: 100%;
}

.pie_pagina_media {
    display: none;
}

/*-------------MEDIA QUERY------------------------------------------*/

@media(max-width:1140px){

    .contenedor {
        max-width: 80%;
        margin: 0 auto;
    }

    /*-----CABECERA-----*/

    .enlaces a {
        display: none;
    }
    .menu {
        display: flex;
        margin-right: 4rem;
        align-items: center;
        cursor: pointer;
    }
    .menu img {
        width: 6rem;
        height: 6rem;
        opacity: 70%;
    }
    .derecha .descargar{
        display: none;
    }
    .derecha .iniciar_sesion{
        display: none;
    }

    /*-----FOOTER-----*/

    .pie_pagina {
        display: none;
    }

    .pie_pagina_media {
        display: flex;
        flex-direction: column;
        background-color: var(--color_secundario);
    }

    .pie_pagina_media .logos_redes_media {
        display: flex;
        justify-content: center;
        margin: 3rem auto;
    }

    .pie_pagina_media .logos_redes_media a {
        margin: auto 5%;
        text-decoration: none;
    }

    .pie_pagina_media .logos_redes_media img {
        width: 4rem;
        height: auto;
    }

    .pie_pagina_media .contenido_media {
        padding: 1rem 5rem;
        border-top: 2px solid;
        border-image: linear-gradient(to left, black 0%, white 50%, black 100%) 1;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .pie_pagina_media .contenido_media p {
        color: white;
        opacity: 60%;
        font-family: var(--fuente_header);
        font-size: 15px;
    }

    .pie_pagina_media .enlaces_media {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .pie_pagina_media .enlaces_media a {
        color: white;
        opacity: 60%;
        font-family: var(--fuente_header);
        font-size: 15px;
        text-decoration: none;
        margin-bottom: 1rem;
        text-decoration: underline;        
    }

    .pie_pagina_media .logos_media {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
    }

    .pie_pagina_media .logos_media img {
        width: 5rem;
        height: 5rem;
        margin: 0 2rem;
    }
}